@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/animations\.scss}line{font-family:\000031}}
.animate {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/animations\.scss}line{font-family:\000038}}
.dur2 {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/animations\.scss}line{font-family:\0000315}}
.dur1 {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/animations\.scss}line{font-family:\0000322}}
.dur05 {
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInTop {
  0% {
    opacity: 0;
    -moz-transform: translateY(-1000px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInTop {
  0% {
    opacity: 0;
    -o-transform: translateY(-1000px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-1000px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/animations\.scss}line{font-family:\0000396}}
.fadeInTop {
  -webkit-animation-name: fadeInTop;
  -moz-animation-name: fadeInTop;
  -o-animation-name: fadeInTop;
  animation-name: fadeInTop;
}

@-webkit-keyframes speedIn {
  0% {
    -webkit-transform: translateX(100%) skewX(-30deg);
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: translateX(-20%) skewX(30deg);
    transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: translateX(0%) skewX(-15deg);
    transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(0%) skewX(0deg);
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}

@keyframes speedIn {
  0% {
    -webkit-transform: translateX(100%) skewX(-30deg);
    -ms-transform: translateX(100%) skewX(-30deg);
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: translateX(-20%) skewX(30deg);
    -ms-transform: translateX(-20%) skewX(30deg);
    transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: translateX(0%) skewX(-15deg);
    -ms-transform: translateX(0%) skewX(-15deg);
    transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(0%) skewX(0deg);
    -ms-transform: translateX(0%) skewX(0deg);
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/animations\.scss}line{font-family:\00003158}}
.speedIn {
  -webkit-animation-name: speedIn;
  animation-name: speedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/animations\.scss}line{font-family:\00003193}}
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.2);
    -webkit-animation-timing-function: ease-out;
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -webkit-animation-timing-function: ease-in;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1.2);
    animation-timing-function: ease-out;
  }

  100% {
    opacity: 1;
    transform: scale(1);
    animation-timing-function: ease-in;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/animations\.scss}line{font-family:\00003226}}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

@-webkit-keyframes flash {
  0% {
    color: none;
  }

  50% {
    color: #ff0000;
  }

  100% {
    color: none;
  }
}

@keyframes flash {
  0% {
    color: none;
  }

  50% {
    color: #ff0000;
  }

  100% {
    color: none;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/animations\.scss}line{font-family:\00003258}}
.flash {
  -webkit-animation: flash 1s ease-out;
  -webkit-animation-iteration-count: 1;
  -moz-animation: flash 1s ease-out;
  -moz-animation-iteration-count: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\000031}}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\000038}}
body #canvas {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\0000312}}
body a {
  text-decoration: none;
  color: #329ECC;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\0000318}}
body .bg {
  position: absolute;
  top: 0;
  background: url("../img/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-animation: fadeIn 2s linear 0s;
  -moz-animation: fadeIn 2s linear 0s;
  -o-animation: fadeIn 2s linear 0s;
  -ms-animation: fadeIn 2s linear 0s;
  animation: fadeIn 2s linear 0s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\0000338}}
body .blurred {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  opacity: 0.8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\0000349}}
body .container .intro {
  color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\0000360}}
body .container .intro h1 {
  margin: 0;
  font-weight: normal;
  font-size: 5em;
  color: #329ECC;
  line-height: 1;
  letter-spacing: -3.9px;
  text-transform: uppercase;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\0000375}}
body .container .intro h2 {
  color: #333;
  margin: 0 0 0 5px;
  font-weight: normal;
  font-size: 2em;
  border-bottom: 1px solid;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\0000387}}
body .container .intro p {
  font-family: Georgia, serif;
  font-size: 5em;
  margin: 0 0 0 10px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\0000396}}
body .container .intro p.pre {
  margin: 0;
  font-weight: normal;
  font-size: 2em;
  line-height: 0.90;
  color: #333;
  letter-spacing: -1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\00003107}}
body .container .intro p.quote {
  color: #FFFFFF;
  margin-top: 10px;
  font-size: 1.2em;
  opacity: .6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\00003113}}
body .container .intro p.quote:hover {
  opacity: 1;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\00003123}}
body .container .intro .social {
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\00003126}}
body .container .intro .social i {
  font-size: 2.8em;
  margin-right: 20px;
  color: #808080;
  padding: 12px 14px;
  opacity: .4;
  border-radius: 50px;
  box-shadow: 0 0 0 4px #FFF;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\00003138}}
body .container .intro .social i:hover {
  opacity: .7;
  background-color: #fff;
  color: #808080;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\00003151}}
body #menu {
  display: none;
  position: absolute;
  bottom: 40px;
  height: 320px;
  width: 100px;
  background: rgba(0, 0, 0, 0.2);
  color: #FFF;
  z-index: 1;
  text-align: center;
  border-top-right-radius: 40px;
  -moz-border-top-right-radius: 40px;
  -o-border-top-right-radius: 40px;
  -webkit-border-top-right-radius: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\00003166}}
body #menu p {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\00003170}}
body #menu ul {
  margin: 10px auto 0px 0px;
  list-style-type: none;
  padding: 10px;
  font-size: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\00003176}}
body #menu ul.links {
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\00003180}}
body #menu ul.links a.inactive {
  text-decoration: line-through;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\00003186}}
body #menu ul.shortcuts {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #ffffff;
  font-size: .8em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\00003195}}
body #menu ul li {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\00003200}}
body #menu ul li a {
  text-decoration: none;
  color: #FFF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\00003208}}
body .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\00003217}}
body .footer #scoreboard div {
  opacity: .6;
  float: right;
  margin-right: 30px;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue', Helvetica, sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\00003226}}
body .footer #scoreboard span {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/layout\.scss}line{font-family:\00003231}}
body .footer .menu-button {
  position: absolute;
  bottom: 3px;
  color: #FFF;
  font-size: 2em;
  margin-left: 5px;
  z-index: 2;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/media\.scss}line{font-family:\000034}}
  body {
    position: fixed;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/media\.scss}line{font-family:\000037}}
  body .container .intro {
    text-align: center;
    padding: 15px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/media\.scss}line{font-family:\0000311}}
  body .container .intro .social {
    text-align: center;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/media\.scss}line{font-family:\0000313}}
  body .container .intro .social i {
    font-size: 1.2em;
    opacity: .8;
    background: rgba(0, 0, 0, 0.6);
    margin: 2px 5px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/media\.scss}line{font-family:\0000322}}
  body .container .intro h1 {
    font-size: 3.2em;
    padding: 4px 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/media\.scss}line{font-family:\0000327}}
  body .container .intro h2 {
    font-size: 1.6em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/media\.scss}line{font-family:\0000332}}
  body .container .intro p.quote {
    color: #333;
    font-size: 1.1em;
    font-variant: small-caps;
    text-align: center;
  }
}
/* Iphone5 (portrait and landscape) ----------- */
@media screen and (max-device-width: 480px) and (device-aspect-ratio: 40 / 71) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/media\.scss}line{font-family:\0000352}}
  body .container .intro h1 {
    font-size: 3.0em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/media\.scss}line{font-family:\0000356}}
  body .container .intro .social i {
    font-size: 2.3em;
    opacity: .8;
    margin: 2px 5px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
  }
}
/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/media\.scss}line{font-family:\0000384}}
  body .container .intro p {
    font-size: 3em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/media\.scss}line{font-family:\0000387}}
  body .container .intro p.tagline {
    font-size: 1.4em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/media\.scss}line{font-family:\0000391}}
  body .container .intro p.quote {
    font-size: 1.0em;
  }
}
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* Even Smaller Desktops and laptops ----------- */
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/media\.scss}line{font-family:\00003117}}
  body {
    position: fixed;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/media\.scss}line{font-family:\00003122}}
  body .container .intro {
    text-align: center;
    padding: 15px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/media\.scss}line{font-family:\00003126}}
  body .container .intro .social {
    text-align: center;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/media\.scss}line{font-family:\00003129}}
  body .container .intro .social i {
    font-size: 2.3em;
    opacity: .8;
    background: rgba(0, 0, 0, 0.6);
    margin: 5px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/media\.scss}line{font-family:\00003137}}
  body .container .intro h1 {
    font-size: 3.2em;
    padding: 4px 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/media\.scss}line{font-family:\00003142}}
  body .container .intro h2 {
    font-size: 1.6em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/media\.scss}line{font-family:\00003148}}
  body .container .intro p.quote {
    color: #333;
    font-size: 1.1em;
    font-variant: small-caps;
    text-align: center;
  }
}
/* Smaller Desktops and laptops ----------- */
/* Smaller Desktops and laptops ----------- */
@media only screen and (min-width: 481px) and (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/media\.scss}line{font-family:\00003173}}
  body .container .intro {
    text-align: center;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/media\.scss}line{font-family:\00003176}}
  body .container .intro p {
    font-size: 3em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/media\.scss}line{font-family:\00003179}}
  body .container .intro p.tagline {
    font-size: 1.3em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/media\.scss}line{font-family:\00003183}}
  body .container .intro p.quote {
    font-size: 1.0em;
  }
}
/* Mid Desktops and laptops ----------- */
/* Desktops and laptops ----------- */
@media only screen and (min-width: 997px) and (max-width: 1224px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/media\.scss}line{font-family:\00003206}}
  body .container .intro p {
    font-size: 4em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/media\.scss}line{font-family:\00003209}}
  body .container .intro p.tagline {
    font-size: 1.6em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/new-site\/public\/assets\/scss\/media\.scss}line{font-family:\00003213}}
  body .container .intro p.quote {
    font-size: 1.1em;
  }
}
/* Large screens ----------- */
/* iPhone 4 ----------- */
