@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/chris-miller\.me\/public\/assets\/scss\/animations\.scss}line{font-family:\000031}}
.animate {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/chris-miller\.me\/public\/assets\/scss\/animations\.scss}line{font-family:\0000338}}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes flash {
  0% {
    color: none;
  }

  50% {
    color: #ff0000;
  }

  100% {
    color: none;
  }
}

@keyframes flash {
  0% {
    color: none;
  }

  50% {
    color: #ff0000;
  }

  100% {
    color: none;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/chris-miller\.me\/public\/assets\/scss\/animations\.scss}line{font-family:\0000368}}
.flash {
  -webkit-animation: flash 1s ease-out;
  -webkit-animation-iteration-count: 1;
  -moz-animation: flash 1s ease-out;
  -moz-animation-iteration-count: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/chris-miller\.me\/public\/assets\/scss\/layout\.scss}line{font-family:\000031}}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/chris-miller\.me\/public\/assets\/scss\/layout\.scss}line{font-family:\000038}}
body #canvas {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/chris-miller\.me\/public\/assets\/scss\/layout\.scss}line{font-family:\0000312}}
body a {
  text-decoration: none;
  color: #329ECC;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/chris-miller\.me\/public\/assets\/scss\/layout\.scss}line{font-family:\0000317}}
body .hidden {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/chris-miller\.me\/public\/assets\/scss\/layout\.scss}line{font-family:\0000321}}
body .underline {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/chris-miller\.me\/public\/assets\/scss\/layout\.scss}line{font-family:\0000325}}
body .absolute {
  position: absolute;
  width: 100%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/chris-miller\.me\/public\/assets\/scss\/layout\.scss}line{font-family:\0000331}}
body h1 {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 4px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  top: 48%;
  border: 2px solid #cecece;
  width: 220px;
  padding: 10px 8px 10px 8px;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/chris-miller\.me\/public\/assets\/scss\/layout\.scss}line{font-family:\0000347}}
body h2 {
  font-family: 'Merriweather', serif;
  font-size: 10px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 2px;
  color: white;
  text-align: center;
  position: relative;
  top: 48%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/chris-miller\.me\/public\/assets\/scss\/layout\.scss}line{font-family:\0000359}}
body ul.links {
  width: 240px;
  margin: auto;
  font-family: 'Merriweather', serif;
  font-size: 10px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 2px;
  color: white;
  text-align: center;
  position: relative;
  top: 48%;
  list-style-type: none;
  overflow: hidden;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/chris-miller\.me\/public\/assets\/scss\/layout\.scss}line{font-family:\0000375}}
body ul.links li {
  float: left;
  margin-right: 14px;
  margin-bottom: 10px;
  margin-left: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/chris-miller\.me\/public\/assets\/scss\/layout\.scss}line{font-family:\0000381}}
body ul.links li i {
  font-size: 3.4em;
  color: #333333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/chris-miller\.me\/public\/assets\/scss\/layout\.scss}line{font-family:\0000385}}
body ul.links li i:hover {
  color: #329ecc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/chris-miller\.me\/public\/assets\/scss\/layout\.scss}line{font-family:\0000392}}
body .bg {
  position: absolute;
  top: 0;
  background: url("../img/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/chris-miller\.me\/public\/assets\/scss\/snake\.scss}line{font-family:\000032}}
#snake-canvas {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/chris-miller\.me\/public\/assets\/scss\/snake\.scss}line{font-family:\000036}}
#scoreboard {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/chris-miller\.me\/public\/assets\/scss\/snake\.scss}line{font-family:\0000314}}
#scoreboard div {
  opacity: .6;
  float: right;
  margin-right: 30px;
  margin-top: 15px;
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cmiller\/development\/src\/chris-miller\.me\/public\/assets\/scss\/snake\.scss}line{font-family:\0000322}}
#scoreboard span {
  font-weight: bold;
}
