/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  body {

    position: fixed;

    .container {
      .intro {
        text-align : center;
        padding: 15px;

        .social {
          text-align : center;

          i {
            font-size: 1.3em;
            opacity: .8;
            background: rgba(255, 255, 255, 0.9);
            margin : 2px;
          }
        }

        h1 {
          font-size : 3.8em;
        }

        h2 {
          font-size : 1.6em;
        }

        p {

          &.quote {
            color      : #333;
            font-size    : 1.1em;
            font-variant : small-caps;
            text-align   : center;
          }
        }
      }
    }
  }
}


/* Iphone5 (portrait and landscape) ----------- */

@media screen and (max-device-width : 480px) and (device-aspect-ratio: 40/71) {
  body {
    .container {
      .intro {
        .social {
          i {
            font-size: 2.3em;
            opacity: .8;
            background: rgba(255, 255, 255, 0.9);
            margin: 2px 5px;
          }
        }
      }
    }
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  body {
    .container {
      .intro {

        p {
          font-size : 3em;

          &.tagline {
            font-size : 1.4em;
          }

          &.quote {
            font-size : 1.0em;
          }

        }
      }
    }
  }

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
}





/* Even Smaller Desktops and laptops ----------- */
@media only screen and (max-width : 480px) {


}

/* Smaller Desktops and laptops ----------- */
@media only screen and (min-width : 481px) and (max-width : 768px) {


}

/* Smaller Desktops and laptops ----------- */
@media only screen and (min-width : 481px) and (max-width : 768px) {

  body {
    .container {

      .intro {
        text-align : center;

        p {
          font-size : 3em;

          &.tagline {
            font-size : 1.3em;
          }

          &.quote {
            font-size : 1.0em;
          }

        }
      }
    }
  }
}


/* Mid Desktops and laptops ----------- */
@media only screen and (min-width : 769px) and (max-width : 996px) {


}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 997px) and (max-width : 1224px) {

  body {
    .container {
      .intro {
        p {
          font-size : 4em;

          &.tagline {
            font-size : 1.6em;
          }

          &.quote {
            font-size : 1.1em;
          }
        }
      }
    }
  }
}

/* Large screens ----------- */
@media only screen and (max-width : 1824px) {
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio                : 1.5) {
}