.mobile-swipe-down, .mobile-swipe-left, .mobile-swipe-right, .mobile-swipe-up, .mobile-swipe-down-2x, .mobile-swipe-left-2x, .mobile-swipe-right-2x, .mobile-swipe-up-2x, .mobile-tap-2x, .mobile-blow, .mobile-hold, .mobile-tap {
  background : url('../img/mobile-sprite.png') no-repeat;
  display    : block;
}

.mobile-swipe-down {
  background-position : 0 -0.0142364501953125px;
  width               : 64px;
  height              : 64px;
}

.mobile-swipe-left {
  background-position : -64.99716186523438px -0.005706787109375px;
  width               : 64px;
  height              : 64px;
}

.mobile-swipe-right {
  background-position : -130.99716186523438px -0.0142364501953125px;
  width               : 64px;
  height              : 64px;
}

.mobile-swipe-up {
  background-position : -1.997161865234375px -65.00570678710938px;
  width               : 64px;
  height              : 64px;
}

.mobile-swipe-down-2x {
  background-position : -66.99148559570312px -65.008544921875px;
  width               : 64px;
  height              : 64px;
}

.mobile-swipe-left-2x {
  background-position : -131.99716186523438px -65.00570678710938px;
  width               : 64px;
  height              : 64px;
}

.mobile-swipe-right-2x {
  background-position : -197px -65.01423645019531px;
  width               : 64px;
  height              : 64px;
}

.mobile-swipe-up-2x {
  background-position : -1.991485595703125px -130.0142364501953px;
  width               : 64px;
  height              : 64px;
}

.mobile-tap-2x {
  background-position : -66.99148559570312px -130.00283813476562px;
  width               : 64px;
  height              : 64px;
}

.mobile-blow {
  background-position : -131.99429321289062px -130.00283813476562px;
  width               : 64px;
  height              : 64px;
}

.mobile-hold {
  background-position : -195.99432373046875px 0;
  width               : 64px;
  height              : 64px;
}

.mobile-tap {
  background-position : -196.99716186523438px -129.99432373046875px;
  width               : 64px;
  height              : 64px;
}

